﻿
<div class="task-table" id="tasktable">
    <h2>
        {{topMessage}}
    </h2>

    <table class="table table-bordered table-primary task" data-url-get="@Url.Action("AllTaskView","Home")">
        <thead class="text-center">
            <tr >
                <th v-for="todo in todos">
                   {{ todo.day }}
                </th>
            </tr>
        </thead>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    <td v-on:click="showAllWorkLogsOnThisDay($event)"></td>
                }
            </tr>
        }
    </table>
    <div class="btn-group form-group" role="group">
        <button type="button" class="btn btn-info" v-on:click="previousMonth">Previous Month</button>
        <button type="button" class="btn btn-info" v-on:click="nextMonth">Next Month</button>
    </div>
</div>


<div class="form-popup" id="formworklog">
    <form class="form-container" data-url-save="@Url.Action("CreateWorkLog","Home")">
        <h2>WorkLog</h2>
        <div class="form-group">
            Select Task:
            <select id="dropdown" class="form-control"></select>
        </div>
        <div class="form-group">
            Enter u time:
            <input type="text" class="form-control date" id="date" placeholder="Enter time like that 3w 2d 4h 5m"/>
            <span class="form-error">Please write u time like that 3w 2d 4h 5m </span>
        </div>
        <div class="form-group">
            Description:
            <input type="text" class="form-control" id="description" />
        </div>
        <div class="btn-group form-group" role="group">
            <button type="button" class="btn btn-success" id="worklog">Create</button>
            <button type="button" class="btn btn-danger" onclick="closeFormCreateWorkLog()">Close</button>
        </div>
    </form>
</div>



<div class="form-worklog-list" id="formworkloglist" data-url-dash="@Url.Action("WorkLogList","Home")">
    
</div>
