﻿@using BusinessLogicLayer.Model
@model IEnumerable<TaskWorkLog>

<form class="form-container">
    <div class="btn-group form-group" role="group">
        <button type="button" class="btn btn-success" id="addWorkLog">Add</button>
        <button type="button" class="btn btn-danger" onclick="closeViewWorkLogList()">Close</button>
    </div>
    <div>
        @if (Model.Count() == 0||Model == null)
        {
            <h3>WorkLog is epmty</h3>
        }
        @foreach (var item in Model)
        {
            <div class="form-output">
                User name: @item.UserName
                <div class="form-output-lower">
                    <div>
                        Task name: @item.TaskName
                    </div>
                    Time: @Math.Round(item.Time / 60, 2) hour
                </div>
            </div>
        }
    </div>
</form>