﻿
.form-popup {
    display: none;
    bottom: 0;
    top: 50px;
    right: 0;
    left: 0;
    background: white;
    z-index: 15;
    align-items: center;
    justify-content: center;
    margin:10px;
}

.form-container {
    word-break: break-all;
    margin: 10px;
    height: 80%;
    width: 80%;
}

.selected-day:hover {
    background-color:yellowgreen;
}

.form-error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

.form-output {
    background-color: #A5EF00;
    color: #6C0AAB;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}

.form-output-lower {
    background-color: #FFD100;
    border-radius: 10px;
    font-weight: 600;
    padding: 10px;
}

.form-worklog-list {
    display: none;
    bottom: 0;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.task-table {
    display: block;
    padding-bottom: 10px;
}