﻿@using Microsoft.AspNetCore.Identity
@using DataAccessLayer.Entities
@model MyTaskProject.Models.TaskView

<h1>@User.Identity.Name Hello</h1>
@using (Html.BeginForm("CreateTask", "Task", FormMethod.Post))

{

    <div class="form-horizontal">
        <div class="form-group">
            @{
                
            }
            @Html.LabelFor(model => model.NameTask, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.NameTask, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Task" class="btn btn-default" />
            </div>
        </div>

    </div>

}
<div>
    @Html.ActionLink("Back to Main", "Index", "Home")
</div>


